.error-title {
  color: rgb(255, 96, 96);
  font-family: Montserrat;
  font-size: 288px;
  font-weight: 700;
  line-height: 411px;
  letter-spacing: 0em;
  text-align: center;
  margin: 0px;
}

.error {
  color: rgba(255, 96, 96, 1);
  font-family: Montserrat;
  font-size: 36px;
  font-weight: 500;
  line-height: 51px;
  letter-spacing: 0em;
  text-align: center;
}

.return-home {
  color: black;
  text-align: center;
  display: flex;
  justify-content: center;
  margin: 100px 0px;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
}

@media (max-width: 576px) {
  .error-title {
    font-size: 130px;
  }

  .error {
    font-size: 24px;
  }
}
