.error-title {
  color: rgb(255, 96, 96);
  font-size: 100px;
  text-align: center;

  font-family: montserrat;
}

.error {
  color: rgba(255, 96, 96, 1);
  font-size: 25px;
  text-align: center;
}

.return-home {
  color: rgba(255, 96, 96, 1);
  text-align: center;
  display: flex;
  justify-content: center;
  margin: 100px 0px;
}
