.container-carrousel {
  display: flex;
  justify-content: center;
  margin: 30px 0px 30px 0px;
}

.carrousel {
  width: 80%;
}

.container-info {
  display: flex;
  flex-direction: column;
  margin: 0px 125px 0px 125px;
}
.container-nameID {
  display: flex;
  justify-content: space-between;
  .name-logement {
    color: rgba(255, 96, 96, 1);
    margin: 0px;
    font-size: 30px;
  }

  .nameID {
    display: flex;
    gap: 20px;
  }
  .surname {
    color: rgb(255, 96, 96);
    font-size: 20px;
  }
}

.position {
  color: rgba(255, 96, 96, 1);
  margin: 5px 0px 15px 0px;
}

.btn {
  background-color: rgb(255, 96, 96);
  color: white;
  border-radius: 10px;
  height: 25px;
  border: none;
  margin-right: 5px;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;
}

.btn-info {
  display: flex;
  gap: 100px;
  justify-content: center;
  margin: 25px 0px 50px 0px;
}

.btninfo {
  background-color: rgb(255, 96, 96);
  color: white;
  border-radius: 8px;
  width: 50%;
  height: 40px;
  border: none;
}

.collapseContainer {
  display: flex;
}

.container-note {
  display: flex;
  justify-content: space-between;
  .container-btn {
    display: flex;
    gap: 10px;
    width: 100%;
  }

  .container-stars {
    font-size: 30px;

    .star-filled {
      color: rgb(255, 96, 96);
    }

    .star-empty {
      color: rgba(196, 196, 196, 1);
    }
  }
}

.info-lieu {
  color: rgb(255, 96, 96);
  display: flex;
  flex-direction: column;
}

.info {
  display: flex;
  gap: 45px;
  margin: 30px 0px;
}

.info-profil {
  color: rgb(255, 96, 96);
  display: flex;
  flex-direction: column;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: right;
  gap: 40px;
  margin-top: 10px;
}
.host {
  display: flex;
  align-items: center;
  gap: 10px;

  .imgProfil {
    border-radius: 65px;
    height: 60px;
  }
}

.container-profil {
  display: flex;
  justify-content: space-between;
}

.rating {
  font-size: 17px;
}

.logement {
  padding: 0 50px;
}

.name-appartement {
  font-family: Montserrat;
  font-size: 36px;
  font-weight: 500;
  line-height: 51px;
  letter-spacing: 0em;
  text-align: left;
  margin: 15px 0px 0px 0px;
}

.name-city {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  margin: 5px 0px 20px 0px;
  color: black;
}

span {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: right;
}

@media (max-width: 576px) {
  .carousel-number {
    position: absolute;
    left: 245px;
  }

  .profil {
    display: flex;
    flex-direction: column;
    .Name {
      font-size: 25px;
    }
    .host {
      position: relative;
      top: 75px;
    }
  }

  .tags {
    .btn {
      width: max-content;
      font-family: Montserrat;
      font-size: 10px;
      font-weight: 700;
      line-height: 14px;
      letter-spacing: 0em;
      text-align: center;
    }
  }

  .info {
    display: flex;
    flex-direction: column;
    gap: 0;

    .collapse {
      width: auto;
      margin: 10px 0px 10px 0px;
    }
  }

  .info-profil {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    margin-bottom: 10px;

    .imgProfil {
      height: 40px;
    }
  }

  .container-profil {
    display: flex;
    flex-direction: column;
  }
  .name-appartement {
    margin: 0;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
  }

  .name-city {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
  }

  .info-lieu {
    font-size: 20px;
  }
}
