.container-carrousel {
  display: flex;
  justify-content: center;
  margin: 30px 0px 30px 0px;
}

.carrousel {
  width: 80%;
}

.container-info {
  display: flex;
  flex-direction: column;
  margin: 0px 125px 0px 125px;
}
.container-nameID {
  display: flex;
  justify-content: space-between;
  .name-logement {
    color: rgba(255, 96, 96, 1);
    margin: 0px;
    font-size: 30px;
  }

  .nameID {
    display: flex;
    gap: 20px;
  }
  .surname {
    color: rgb(255, 96, 96);
    font-size: 20px;
  }
}

.position {
  color: rgba(255, 96, 96, 1);
  margin: 5px 0px 15px 0px;
}

.btn {
  background-color: rgba(255, 96, 96, 1);
  color: white;
  border-radius: 10px;

  height: 25px;
  border: none;
  margin: 5px;
}

.btn-info {
  display: flex;
  gap: 100px;
  justify-content: center;
  margin: 25px 0px 50px 0px;
}

.btninfo {
  background-color: rgb(255, 96, 96);
  color: white;
  border-radius: 8px;
  width: 50%;
  height: 40px;
  border: none;
}

.collapseContainer {
  display: flex;
}

.container-note {
  display: flex;
  justify-content: space-between;
  .container-btn {
    display: flex;
    gap: 10px;
    width: 100%;
  }

  .container-stars {
    font-size: 30px;

    .star-filled {
      color: rgb(255, 96, 96);
    }

    .star-empty {
      color: rgba(196, 196, 196, 1);
    }
  }
}

.info-lieu {
  color: rgb(255, 96, 96);
  display: flex;
  flex-direction: column;
  margin: 0px 30px;
}

.info {
  display: flex;
  gap: 45px;
}

.info-profil {
  margin: 0px 30px;
  color: rgb(255, 96, 96);
  display: flex;
  flex-direction: column;
}
.host {
  display: flex;
  align-items: center;
  gap: 10px;

  .imgProfil {
    border-radius: 65px;
    height: 60px;
  }
}

.container-profil {
  display: flex;
  justify-content: space-between;
}

.rating {
  font-size: 35px;
}
