@media (max-width: 576px) {
  .carousel-number {
    position: absolute;
    left: 245px;
  }

  .profil {
    display: flex;
    flex-direction: column;
    .Name {
      font-size: 25px;
    }
    .host {
      position: relative;
      top: 75px;
    }
  }

  .tags {
    .btn {
      width: max-content;
    }
  }

  .info {
    display: flex;
    flex-direction: column;
    gap: 0;

    .collapse {
      width: auto;
    }
  }

  .info-profil {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    margin-bottom: 10px;

    .imgProfil {
      height: 40px;
    }
  }

  .container-profil {
    display: flex;
    flex-direction: column;
  }
  .name-appartement {
    margin: 0;
    font-family: montserrat;
    font-weight: 500;
  }

  .info-lieu {
    font-size: 20px;
  }
}
