@media (max-width: 576px) {
  .carousel-number {
    position: absolute;
    left: 245px;
  }

  .profil {
    display: flex;
    flex-direction: column;
    .Name {
      font-size: 25px;
    }
    .host {
      position: relative;
      top: 75px;
    }
  }

  .tags {
    .btn {
      width: 19%;
    }
  }

  .info {
    display: flex;
    flex-direction: column;
    gap: 0;

    .collapse {
      width: 89%;
    }
  }
}
