@media (max-width: 576px) {
  .carousel-number {
    position: absolute;
    left: 245px;
  }

  .profil {
    display: flex;
    flex-direction: column;
    .Name {
      font-size: 25px;
    }
    .host {
      position: relative;
      top: 75px;
    }
  }

  .tags {
    .btn {
      width: 19%;
    }
  }

  .info {
    display: flex;
    flex-direction: column;
    gap: 0;

    .collapse {
      width: 89%;
    }
  }

  .info-profil {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;

    .imgProfil {
      height: 80px;
    }
  }

  .container-profil {
    display: flex;
    flex-direction: column;
  }
  .name-appartement {
    margin: 0;
  }

  .info-lieu {
    font-size: 20px;
  }
}
