.collapse {
  background-color: rgb(255, 96, 96);
  height: 40px;
  width: 60%;
  border-radius: 5px;
  color: white;
  margin-bottom: 10px;
}
.collapse-header {
  padding: 10px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.collapse-content {
  padding: 10px;
  display: none;
}

.collapse .icon {
  height: 12px;
  /* transition: transform 0.2s; */
  font-size: 30px;
  position: relative;
  bottom: 14px;
}

.collapse .icon.open {
  //   transform: rotate(180deg);
}
