.bannerImg {
  border-radius: 10px;
  width: 65%;
  height: 175px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 30px;
  background-image: url("../../assets/ImgAbout.png");
  background-position: center;
}

.ReactCollapse--content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin-bottom: 30px;
}

.container-collapse {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  margin-bottom: 30px;
}
