.error-title {
  color: rgba(255, 96, 96, 1);
  font-size: 200px;
  text-align: center;
  margin: 100px;
}

.error {
  color: rgba(255, 96, 96, 1);
  font-size: 30px;
  text-align: center;
  margin: 100px;
}

.return-home {
  color: rgba(255, 96, 96, 1);
  text-align: center;
  display: flex;
  justify-content: center;
  margin: 100px;
}
