.Card {
  background-color: rgba(255, 96, 96, 1);
  border-radius: 10px;
  width: 27%;
  height: 340px;
  font-size: 10px;
  color: white;
  display: flex;
  align-items: flex-end;
  position: relative;
  display: block;
  text-decoration: none;
  .CardImage {
    width: 100%;
    height: 340px;
    background-size: cover;
    background-position: center;
    object-fit: cover;
    border-radius: 10px;
  }

  .CardTitle {
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    padding: 8px;
    z-index: 9;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
  }
  .CardImage::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.5)
    );
    z-index: 1;
  }
}
