.Card {
  background-color: rgba(255, 96, 96, 1);
  border-radius: 10px;
  width: 20%;
  height: 240px;
  font-size: 10px;
  color: white;
  display: flex;
  align-items: flex-end;
  padding: 25px;
}

// .ContainerCard {
//   display: flex;
//   flex-wrap: wrap;
//   gap: 90px;
//   justify-content: center;
// }
