.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 40px 0;
  align-items: center;
  padding: 0 50px;
}

.img-header {
  width: 145px;
}

.lien {
  color: black;
  //12 n  mobil  font-size: 12px;
  text-decoration: none;
  //mobil text-transform: uppercase;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 500;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: right;
}

.lien:hover {
  border-bottom: solid 1px;
}

nav {
  display: flex;
  gap: 20px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
  margin-bottom: 20px;
  padding-top: 20px;
  background: rgba(246, 246, 246, 1);
  border-radius: 25px;
}
