.banner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  .img-banner {
    border-radius: 10px;
    width: 90%;
    height: 190px;
    z-index: 0;
    position: relative;
    object-fit: cover;
    filter: brightness(0.5);
    margin-bottom: 50px;
  }
  .img-title {
    background-position: center;
    color: white;
    background-size: cover;
    font-family: Montserrat;
    font-size: 48px;
    font-weight: 700;
    line-height: 90px;
    position: absolute;
  }
}

@media (max-width: 576px) {
  .banner {
    display: flex;
    justify-content: center;
    .img-banner {
      width: 335px;
      height: 111px;
      border: 1px;
      margin-bottom: 20px;
    }
    .img-title {
      width: 225px;
      font-size: 24px;
      font-weight: 700;
      line-height: 24px;
      left: 85px;
    }
  }
}
