.banner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.img-title {
  border-radius: 10px;
  width: 65%;
  height: 175px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 30px;
  background-image: url("../../assets/IMG.png");
  background-position: center;
  color: white;
}
