.banner {
  margin: 10px;
  display: flex;
  flex-direction: column;
}

p {
  border-radius: 10px;
  width: 75%;
  height: 175px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: 30px;
  position: relative;
  left: 180px;
  background-image: url("../../assets/IMG.png");
  background-position: center;
  color: white;
}

h2 {
  background-color: #fb3f3f;
  border-radius: 10px;
  width: 20%;
  height: 240px;
  font-size: 15px;
  color: white;
}
